In [1]:
#print the given sequence of numbers using for loop 
count = [10,20,30,40,50]
for num in count:
    print(num)

10
20
30
40
50

In [13]:
#print mltiples of 10 for numbers in a given range 
for num in range(5):
    if num > 0:
        print(num * 10)

10
20
30
40

In [14]:
#Print first 5 natural using while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [2]:
entry = 0
sum1 = 0
print("enter numbers to find their sum,negative number ends the loop:")
while True:
    #int() typecasts string to integer
    entry = int(input())
    if (entry < 0):
        break
    sum1 += entry
print("Sum = ", sum1)

enter numbers to find their sum,negative number ends the loop:
4
-4
Sum =  4

In [3]:
num = 0
for num in range(6):
    num = num + 1
    if num == 3:
        continue
    print('Num has value ' + str(num))
print('End of loop')

Num has value 1
Num has value 2
Num has value 4
Num has value 5
Num has value 6
End of loop

In [4]:
for var1 in range(3):
    print("Iteration " + str(var1 + 1) + "of outer loop")
    for var2 in range(2): #nested loop
        print(var2 + 1)
    print("Out of inner loop")
print("Out of outer loop")

Iteration 1of outer loop
1
2
Out of inner loop
Iteration 2of outer loop
1
2
Out of inner loop
Iteration 3of outer loop
1
2
Out of inner loop
Out of outer loop

In [5]:
name = ['Dubem','Awele','Sako','Umeh']
surname = ['Josh','Fernando','April','Ike']

for i in name:
    for j in surname:
        print(i,j)

Dubem Josh
Dubem Fernando
Dubem April
Dubem Ike
Awele Josh
Awele Fernando
Awele April
Awele Ike
Sako Josh
Sako Fernando
Sako April
Sako Ike
Umeh Josh
Umeh Fernando
Umeh April
Umeh Ike